<a href="https://colab.research.google.com/github/Egodz93/baitapweek3/blob/main/b%C3%A0i1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
url = "https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv"
chipo = pd.read_csv(url, sep='\t')
print(chipo)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

### Step 4. See the first 10 entries

In [ ]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1

num_observations = chipo.shape[0]

print(f"Số lượng quan sát trong dataset là: {num_observations}")

Số lượng quan sát trong dataset là: 4622

In [ ]:
# Solution 2
print("Số lượng quan sát:", len(chipo))

Số lượng quan sát: 4622

### Step 6. What is the number of columns in the dataset?

In [ ]:
num_observations = chipo.shape[1]

print(f"Số lượng cột quan sát trong dataset là: {num_observations}")

Số lượng cột quan sát trong dataset là: 5

### Step 7. Print the name of all the columns.

In [ ]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [ ]:
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [ ]:
item_quantity = chipo.groupby('item_name')['quantity'].sum()

# Sắp xếp giảm dần và lấy món có số lượng nhiều nhất
most_ordered_item = item_quantity.sort_values(ascending=False).head(1)

print("Món được đặt hàng nhiều nhất là:")
print(most_ordered_item)

Món được đặt hàng nhiều nhất là:
item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
# Nhóm theo item_name và tính tổng số lượng
item_quantity = chipo.groupby('item_name')['quantity'].sum()

# Lấy số lượng món được đặt nhiều nhất
most_ordered_item_quantity = item_quantity.max()

print(f"Số lượng món được đặt hàng nhiều nhất là: {most_ordered_item_quantity}")

Số lượng món được đặt hàng nhiều nhất là: 761

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
# Nhóm theo choice_description và tính tổng số lượng
choice_counts = chipo.groupby('choice_description')['quantity'].sum()

# Sắp xếp giảm dần và lấy món đầu tiên
most_ordered_choice = choice_counts.sort_values(ascending=False).head(1)

print("Mô tả lựa chọn được đặt hàng nhiều nhất là:")
print(most_ordered_choice)

Mô tả lựa chọn được đặt hàng nhiều nhất là:
choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### Step 12. How many items were orderd in total?

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [ ]:
print(chipo['item_price'].dtype)

object

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
total_items_ordered = chipo['quantity'].sum()
print(f"Tổng số lượng các món đã được đặt là: {total_items_ordered}")

Tổng số lượng các món đã được đặt là: 4972

#### Step 13.c. Check the item price type

In [ ]:
print(chipo['item_price'].dtype)

object

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
# Tính doanh thu cho từng dòng và tổng hợp lại
chipo['item_price'] = chipo['item_price'].str.replace('$', '', regex=False).astype(float)
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print(f"Tổng doanh thu trong khoảng thời gian của dataset là: ${revenue:.2f}")

Tổng doanh thu trong khoảng thời gian của dataset là: $39237.02

### Step 15. How many orders were made in the period?
Có bao nhiêu đơn hàng được thực hiện trong giai đoạn này?

In [ ]:
total_orders = chipo['order_id'].nunique()
print(f"Tổng số đơn hàng trong khoảng thời gian của dataset là: {total_orders}")

Tổng số đơn hàng trong khoảng thời gian của dataset là: 1834

### Step 16. What is the average revenue amount per order?
Doanh thu trung bình cho mỗi đơn hàng là bao nhiêu?

In [ ]:
# Solution 1
chipo['order_revenue'] = chipo['quantity'] * chipo['item_price']
# Tính tổng doanh thu cho từng đơn hàng
order_totals = chipo.groupby('order_id')['order_revenue'].sum()

# Tính trung bình doanh thu mỗi đơn hàng
average_revenue = order_totals.mean()

print(f"Doanh thu trung bình mỗi đơn hàng là: ${average_revenue:.2f}")

Doanh thu trung bình mỗi đơn hàng là: $21.39

In [ ]:
# Solution 2

### Step 17. How many different items are sold?

In [ ]:
# Đếm số lượng món ăn duy nhất trong cột item_name
different_items_sold = chipo['item_name'].nunique()
print(f"Số lượng món ăn khác nhau được bán là: {different_items_sold}")